@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

h1 {

    font-family: $font-family;
    font-weight: $font-bold;
    color: $color-main;
    font-size: $font-h1;
}

h2 {

    font-family: $font-family;
    font-weight: $font-medium;

    font-size: $font-h2;
}

h3 {

    font-family: $font-family;
    font-weight: $font-medium;

    font-size: $font-h3;
}

h4 {

    font-family: $font-family;
    font-weight: $font-medium;

    font-size: $font-h4;
}

p {

    font-family: $font-family;
    font-weight: $font-regular;

    font-size: $font-p;
}

.small {

    font-family: $font-family;
    font-weight: $font-regular;
    color: $color-main;
    font-size: $font-s;
}

label {
    font-family: $font-family;
    font-weight: $font-medium;
    color: $color-main;
    font-size: $font-s;
}

input {
    color: $color-secondary;
}