//COLORES

    //principales
        //Variable                      //Valor
        //$color-main             :      #FFC500;
        $color-main             :      #FFC500;
        //$color-background       :      #2D2D2D;
        $color-background       :      #222526;
        
    //secundarios
        //$color-secondarybg      :      #1E1E1E;
        $color-secondarybg      :      #171819;
        //$color-secondary        :      #FFFFFF;
        $color-secondary        :      #FFFFFF;



//TIPOGRAFÍA

    //Peso
        //Variable                     //Valor
        $font-family            :       'Roboto', sans-serif;
        $font-regular           :       400;
        $font-medium            :       500;
        $font-bold              :       700;

    //Tamaño
        //Variable                      //Valor
        $font-h1                :       4rem;
        $font-h2                :       2rem;
        $font-h3                :       1.5rem;
        $font-h4                :       1.25rem;
        $font-p                 :       1rem;
        $font-s                 :       .75rem;


//FORMULARIO PERFIL
        $form-width             :       50rem;
        $form-field-width       :       20rem;
        $form-password-width    :       12.5rem;
        $form-button-width      :       5.75rem;
        $form-gender-width      :       10.625rem;
        $form-card-field-width  :       28.4375rem;
        $form-spacing-horizontal:       1.25rem;
        $form-spacing-vertical  :       1.5625rem;

        