main {

    
    .profile {
        display: flex;
        background-color: $color-background;
        height: auto;
        width: 100%;
        position: relative;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border-bottom: .5rem solid $color-main;

        .profile-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;


            img {
                display: flex;
                margin: 1.875rem;
                box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.5);
                border: .25rem solid $color-main;
            }
            
        }

        .profile-img-mobile {
            display: none;
            position: relative;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                margin: 1.875rem;
                box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.5);
                border: .25rem solid $color-main;
            }
        }

        form {
            padding: 1.875rem;


            .mobile {
                display: none;
                position: relative;
                justify-content: center;
                overflow: hidden;
                
            }

            .profile-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 2rem;
                grid-row-gap: 1.25rem;
                padding: 2rem 0 0 0;
            }

            .register-form {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-column-gap: 2rem;
                grid-row-gap: 1.25rem;
                padding: 2rem 0 0 0;
            }

            .form-fields {
                width: auto;
                li {
                    margin-bottom: 0;
                    
                    label {
                        display: block;
                        margin-bottom: .3125rem;
                        font-weight: bold;
                        font-family: $font-family;
                        font-weight: $font-regular;
                        color: $color-main;
                        font-size: $font-s;
                    }
                
                    input {
                        font-size: $font-p;
                        box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, 0.50);
                    }

                    input[type="text"],
                    input[type="email"],
                    select {
                        width: 20rem;
                        height: 2.8125rem;
                        
                        border-radius: .25rem;
                        padding: .625rem;
                        border: .0625rem solid $color-main;
                        background-color: $color-secondarybg;
                        color: $color-secondary;
                        &:focus {
                        outline: none;
                        border-color: $color-secondary;
                        
                        }
                    }
                
                    input[type="password"] {
                        width: 12.5rem;
                        height: 2.8125rem;
                        border-radius: .25rem;
                        padding: .625rem;
                        border: .0625rem solid $color-main;
                        background-color: $color-secondarybg;
                        &:focus {
                            outline: none;
                            border-color: $color-secondary;
                            }
                    }
                

                }

                .auto {
                    display: flex;
                    label {
                        padding: 0 .625rem;
                    }
                }
                #register-pwd input[type=password] {
                    width: 20rem;

                }
            }    


        }
    }
}

@include mobile {

    main {

    
        .profile {
            height: 100%;
            width: 100%;
    
            .profile-img {
                display: none;
                flex-direction: column;

                img {
                    margin: 1.875rem;
                    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.5);
                    border: .25rem solid $color-main;
                }
                
            }

            .profile-img-mobile {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    margin: 1.875rem;
                    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.5);
                    border: .25rem solid $color-main;
                }
            }
    
            form {
                padding: 1.875rem;
                
                h1 {
                    display: flex;
                    justify-content: center;
                }
                

                .form-fields {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-column-gap: 2rem;
                    grid-row-gap: 1.25rem;
                    padding: 0;

                    li {
                        margin-bottom: 0;
                        
                        label {
                            display: block;
                            margin-bottom: .3125rem;
                            font-weight: bold;
                            font-family: $font-family;
                            font-weight: $font-regular;
                            color: $color-main;
                            font-size: $font-s;
                        }
                    
                        input {
                            font-size: $font-p;
                            box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, 0.50);
                        }
    
                        input[type="text"],
                        input[type="email"],
                        select {
                            width: 20rem;
                            height: 2.8125rem;
                            
                            border-radius: .25rem;
                            padding: .625rem;
                            border: .0625rem solid $color-main;
                            background-color: $color-secondarybg;
                            color: $color-secondary;
                            &:focus {
                            outline: none;
                            border-color: $color-secondary;
                            
                            }
                        }
                    
                        input[type="password"] {
                            width: 12.5rem;
                            height: 2.8125rem;
                            border-radius: .25rem;
                            padding: .625rem;
                            border: .0625rem solid $color-main;
                            background-color: $color-secondarybg;
                            &:focus {
                                outline: none;
                                border-color: $color-secondary;
                                }
                        }
                    
    
                    }

                    #register-pwd + input[type=password] {
                            width: 20rem;

                    }
                }


            }
        }
    }
}