@mixin linear-gradient($color, $opacities...) {
    $gradient: rgba($color, nth($opacities, 1));
    @for $i from 2 through length($opacities) {
      $opacity: nth($opacities, $i);
      $gradient: #{$gradient}, rgba($color, $opacity);
    }
    background: linear-gradient(to bottom, $gradient);
  }

$bp-mobile: 700px;
$bp-tablet: 1070px;
@mixin mobile {
  @media (max-width: $bp-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $bp-tablet) {
    @content;
  }
}