.button-small {
    display: inline-block;
    margin: .625rem;
    width: 5.75rem;
    height: 2rem;
    line-height: 1.8rem;
    text-align: center;
    border-radius: .25rem;
    border: .125rem solid black;
    @include linear-gradient($color-main, 0.8, 0.8, 0.7, 0.6, 0.5);
    color: $color-secondarybg;
    text-decoration: none;
    font-size: $font-p;
    font-weight: 500;
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.5);
    &:hover {
    background-color: $color-main;
    }
}