footer {
    display: flex;
    width: 100%;
    height: auto;
    height: 12.5rem;
    padding: 3.125rem 0 0 0;
    background-color: $color-secondarybg;

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        background-color: $color-background;
        
        .footer-list {
            display: flex;
            flex-direction: column;
            padding: 20px 40px;

            a {

            }
        }
    }

}

