header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background;
  color: $color-secondary;
  padding: 0% 4%;
  background: linear-gradient(to bottom, $color-secondarybg, $color-background, $color-background, $color-secondarybg, $color-secondarybg);
  
  .buttons {
    a {
      padding: .625rem 1.25rem;
      border-radius: 0.35rem;
    }
    .register-btn {
      


      letter-spacing: 0.04rem;
      font-size: $font-p;
      font-family: $font-family;
      font-weight: $font-bold;

      &:hover {
        background-color: $color-main;
        
      }
    }

    .register-btn-color {
      padding: .625rem 1.25rem;
      border: .0625rem solid black;
      @include linear-gradient($color-main, 0.8, 0.8, 0.7, 0.6, 0.5);
      color: $color-secondarybg;
      

    }
  }

  nav {
    width: 50%;
    max-width: 43.75rem;
    display: flex;
    .dropdown {
      display: none;
    }
      
      .logo {
        font-size: 1.2rem;
      }
    
      .menu {
  
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
  
        li {
  
          width: 25%;
          text-align: center;
          border-bottom: .1875rem solid $color-main;
          margin: 0 .3125rem;
          padding: .9375rem 0;
    
  
          a {
  
            font-family: $font-family;
            font-style: normal;
            font-weight: $font-regular;
            font-size: $font-h4;
            
            display: block;
            text-decoration: none;
            color: inherit;
  
          }
        }
  
        .active {
          border-width: .5rem;
        }
  
      }
  }

  }

@include mobile {
  header {
    .register-btn {
      display: none;

    &:hover {
      background-color: $color-main;
      
    }
  }

  .buttons {
    display: none;

    .blank {
      padding: 1.25rem;
    }
  }
    nav {
      width: auto;
      .dropbtn {
        width: 90%;
        color: $color-secondarybg;
        border: none;

        &:hover {

          .dropbtn {
            background-color: $color-secondarybg;
          }
        }
      }
      .dropdown {
        position: relative;
        display: inline-block;

        &:hover {

          .dropdown-content {
            display: block;
          }
        }
      
      .burger-menu {
        width: 9vw;
        height: 8vh;
      }
      }
      .dropdown-content {
        right: 0;
        top: 70;
        display: none;
        position: absolute;
        background-color: $color-secondarybg;
        min-width: 15.625rem;
        z-index: 1;

        a {
          color: $color-main;
          padding: 1.25rem 1.25rem;
          font-size: $font-h4;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: $color-background;
          }
  
          .active {
            background-color: $color-main;
          }
        }
      }
  
      .logo {
        font-size: 1.2rem;
      }
    
      .menu {
        display: none;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 55%;
        margin: 0;
        padding: 0;
  
        li {
          width: 25%;
          text-align: center;
          border-bottom: .1875rem solid $color-main;
          margin: 0rem .3125rem;
          padding: .9375rem 0rem;
  
          a {
            font-family: $font-family;
            font-style: normal;
            font-weight: $font-regular;
            font-size: $font-h4;
            display: block;
            text-decoration: none;
            color: inherit;
  
          }
        }
  
        .active {
          border-width: .5rem;
        }
      }
    }
  }
}